html{
    margin-left: 20%;
    margin-right: 20%;
   
}

body{
    display: grid;
    grid-template-areas:    "header     header"
                            "aside     section";
    grid-template-columns: 30%      70%;
}

.header{
    grid-area: header;
    text-align: center;
    background-color: darkturquoise;
   
}

.aside{
    grid-area: aside;
    background-color: beige;
    
}
aside ul{
    margin-top: 30%;
}

.section{
    grid-area: section;
    background-color: darkgray;
    padding:5%;
}